<div class="card">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" (click)="sortByCategory('item')">Item</th>
        <th scope="col" (click)="sortByCategory('minSellingPrice')">min Selling Price</th>
        <th scope="col" (click)="sortByCategory('maxSellingPrice')">max Selling Price</th>
        <th scope="col" (click)="sortByCategory('minHearts')">min hearts</th>
        <th scope="col" (click)="sortByCategory('maxHearts')">max hearts</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of recipes">
        <td><a [routerLink]="food.item">{{food.item}}</a></td>
        <td>{{food.minSellingPrice}}</td>
        <td>{{food.maxSellingPrice}}</td>
        <td>{{food.minHeartsRestored}}</td>
        <td>{{food.maxHeartsRestored}}</td>
      </tr>
    </tbody>
  </table>
</div>