<h3 class="text-center">Recipe effects</h3>
<table class="table table-borderless table-dark table-hover shadow">
  <thead>
    <tr>
      <th scope="col" (click)="sortByCategory('Prefix')">Prefix</th>
      <th scope="col" (click)="sortByCategory('minEffect')">Min Effect</th>
      <th scope="col" (click)="sortByCategory('maxEffect')">Max Effect</th>
      <th scope="col" (click)="sortByCategory('specialEffect')">Effect</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of effects">
      <td><a [routerLink]="food.item">{{food.prefix}}</a></td>
      <td>{{food.minEffect}}</td>
      <td>{{food.maxEffect}}</td>
      <td>{{food.specialEffect}}</td>
    </tr>
  </tbody>
</table>